apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nh-pai-data-service.fullname" . }}
  labels:
    {{- include "nh-pai-data-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "nh-pai-data-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nh-pai-data-service.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nh-pai-data-service.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: AUTO_RUN_MIGRATIONS
              value: {{ .Values.autoRunMigrations | quote }}
            {{- if .Values.config.redisUrl }}
            - name: REDIS_URL
              value: {{ .Values.config.redisUrl | quote }}
            {{- end }}
            - name: POSTGRES_DATABASE
              value: {{ .Values.config.postgresDatabase }}
            - name: JUICEFS_S3_GATEWAY_ENDPOINT
              value: {{ .Values.config.juiceFsUrl }}
            - name: JUICEFS_S3_GATEWAY_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.juiceFsSecretName }}
                  key: minio-root-user
            - name: JUICEFS_S3_GATEWAY_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.juiceFsSecretName }}
                  key: minio-root-password
            - name: JUICEFS_S3_GATEWAY_VOLUME_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.juiceFsSecretName }}
                  key: name
            - name: JUICEFS_S3_GATEWAY_STORAGE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.juiceFsSecretName }}
                  key: storage
            - name: JUICEFS_S3_GATEWAY_BUCKET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.juiceFsSecretName }}
                  key: bucket
            - name: TOOLS_CONFIG
              value: {{ .Values.toolsConfig | quote }}
            {{- if .Values.global.sendgridSecretRef }}
            - name: SENDGRID_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.sendgridSecretRef }}
                  key: SENDGRID_API_KEY
            {{- end }}
            - name: FEEDBACK_EMAIL_ENABLED
              value: {{ .Values.config.feedbackEmail.enabled | default "true" | quote }}
            {{- if .Values.config.feedbackEmail.recipients }}
            - name: FEEDBACK_EMAIL_RECIPIENTS
              value: {{ .Values.config.feedbackEmail.recipients | quote }}
            {{- end }}
            {{- if .Values.config.feedbackEmail.from }}
            - name: FEEDBACK_EMAIL_FROM
              value: {{ .Values.config.feedbackEmail.from | quote }}
            {{- end }}
            {{- if .Values.extraEnvVars }}
              {{- toYaml .Values.extraEnvVars | nindent 12 }}
            {{- end }}
          envFrom:
          {{- if .Values.global.extraEnvVarsCM }}
            - configMapRef:
                name: {{ .Values.global.extraEnvVarsCM }}
          {{- end }}
          {{- if .Values.global.extraEnvVarsSecret }}
            - secretRef:
                name: {{ .Values.global.extraEnvVarsSecret }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
